/* TODO Silly font, at least without proper sizing
:root {
  --sl-font-sans: 'Caslon Antique', sans-serif;
}

body,
body > * {
  font-family: 'Caslon Antique', sans-serif;
}
*/

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body,
body > * {
  font-family: var(--sl-font-sans);
}

body {
  overflow: hidden;
}

/* Trix HTML editor dark mode - see https://github.com/basecamp/trix/issues/947 */
trix-toolbar .trix-button,
.trix-dialog .trix-button-group {
  filter: invert();
}
trix-editor {
  color: white;
}
.trix-input--dialog,
.trix-button--dialog {
  color: black;
}
trix-toolbar .trix-button:disabled {
  filter: invert() grayscale(1) brightness(2);
}
trix-toolbar .trix-button--icon::before {
  opacity: 1;
}
trix-toolbar .trix-button--icon:disabled::before {
  opacity: 0.5;
}
/* TODO For now hide the File Attachment button - decide if we want to handle it or not */
trix-toolbar .trix-button-group--file-tools {
  display: none;
}

.dialog {
  --width: 70%;
}

.split-panel {
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow-y: scroll;
  overflow-x: auto;
}

.field-margin-bottom {
  margin-bottom: 10px;
}

.recipe-table {
  width: 100%;
}
.recipe-table thead {
  position: sticky;
  top: 0;
}
.recipe-table thead th {
  cursor: pointer;
  border-bottom: 1px solid #555;
}
.recipe-table tr {
  background-color: #333;
}
.recipe-table tr:nth-child(even) {
  background-color: #444;
}
.recipe-table td {
  outline: 1px solid #555;
  padding: 12px;
  color: #fff;
}

.add-tag-input {
  max-width: 150px;
  display: inline-block;
}
