html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body,
body > * {
  font-family: var(--sl-font-sans);
}

body {
  overflow: hidden;
}

/* Trix HTML editor dark mode - see https://github.com/basecamp/trix/issues/947 */
trix-toolbar .trix-button,
.trix-dialog .trix-button-group {
  filter: invert();
}
trix-editor {
  color: white;
}
.trix-input--dialog,
.trix-button--dialog {
  color: black;
}
trix-toolbar .trix-button:disabled {
  filter: invert() grayscale(1) brightness(2);
}
trix-toolbar .trix-button--icon::before {
  opacity: 1;
}
trix-toolbar .trix-button--icon:disabled::before {
  opacity: 0.5;
}
/* Hide the nesting level buttons as they are rarely used and take up needless space on mobile  */
trix-toolbar .trix-button--icon-decrease-nesting-level,
trix-toolbar .trix-button--icon-increase-nesting-level {
  display: none;
}
/* Hide the file attachment button as we're just dealing with text (for now?) */
trix-toolbar .trix-button-group--file-tools {
  display: none;
}

.dialog {
  --width: 70%;
}

.center {
  text-align: center;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

.split-panel {
  height: 100%;
  overflow-y: scroll;
  overflow-x: auto;
}

.field-margin-bottom {
  margin-bottom: 10px;
}

.recipe-table {
  width: 100%;
}
.recipe-table thead {
  position: sticky;
  top: 0;
}
.recipe-table thead th {
  cursor: pointer;
  border-bottom: 1px solid #555;
}
.recipe-table tr {
  background-color: #333;
}
.recipe-table tr:nth-child(even) {
  background-color: #444;
}
.recipe-table td {
  outline: 1px solid #555;
  padding: 12px;
  color: #fff;
}

.notes-wrap {
  max-height: 125px;
  overflow-y: auto;
}

.add-tag-input {
  max-width: 150px;
  display: inline-block;
}

.search-input {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.week-header {
  text-shadow: 0 0 10px #555;
  text-align: center;
}

.week-header span {
  font-size: 120%;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
}

.week-day {
  width: calc(100% / 7);
  height: calc(100% - 40px);
  display: inline-block;
  outline: 1px solid #555;
}

.day-header {
  text-align: center;
  font-size: 110%;
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
  text-decoration-style: dotted;
  margin-top: 10px;
  text-shadow: 0 0 5px black;
}

.day-current {
  font-weight: bold;
}
.day-current::after {
  content: ' (today)';
}

.day-drop, .day-redo {
  display: inline-block;
}

.day-drop {
  width: calc(100% - 75px);
  margin-left: 10px;
  margin-top: 10px;
}

.day-redo {
  width: 60px;
  text-align: center;
}

.day-tag {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}