@media (max-width: 850px) { /* Mobile stuff */
  .dialog {
    --width: 100%;
  }
  
  .tag-col {
    font-size: 80%;
  }
  
  .search-input {
    max-width: 150px;
  }
  
  .week-day {
    width: 100%;
    height: fit-content;
  }
  
  .hide-on-mobile {
    display: none;
  }
}